<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Goal Book Login</title> 
    </head>
    <body>
        {{{body}}}
    </body>
</html>
