<div class="goals-body">

<h1>Add Notes</h1>
    <div class="goals-content">
        <form action="post">
            <textarea name="goal" id="" cols="30" rows="10"></textarea>
        </form>
        <form action="post">
            <textarea name="goal" id="" cols="30" rows="10"></textarea>
        </form>
        <form action="post">
            <textarea name="goal" id="" cols="30" rows="10"></textarea>
        </form>
        <form action="post">
            <textarea name="goal" id="" cols="30" rows="10"></textarea>
        </form>
        <form action="post">
            <textarea name="goal" id="" cols="30" rows="10"></textarea>
        </form>
        <form action="post">
            <textarea name="goal" id="" cols="30" rows="10"></textarea>
        </form>
        <form action="post">
            <textarea name="goal" id="" cols="30" rows="10"></textarea>
        </form>
        <form action="post">
            <textarea name="goal" id="" cols="30" rows="10"></textarea>
        </form>
    </div>

</div>
